setuptools
numpy
scipy
casadi
pandas
pyomo
matplotlib
pyyaml
torch
cvxpy
polytope
tqdm
seaborn
osqp
torchvision
pillow
scikit-learn
loguru
julia
requests
labml
gymnasium
pygame
scikit-image
FADS
tensorboard
